<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}, Home Page</h1>
    <a href="{% url 'users:logout' %}"> <h2>Logout</h2></a>
    {% else %}
    <h1>Welcome , Home Page</h1>
    <a href="{% url 'users:login' %}"> <h2>Login</h2></a>
    {% endif %}

    <ul>
      {% for folder in folders %}
      <li>
        <a href="{% url 'folder:detail' pk=folder.pk %}">{{ folder.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
